In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('Task1_train.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [3]:
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [4]:
df.isnull().sum()
# checking if there is any null values or not

Hours     0
Scores    0
dtype: int64

In [5]:
X = df.drop(columns=['Scores'],axis=1)
y = df.Scores

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
lr = LinearRegression()

In [7]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=355)

In [8]:
# model training on training data
lr.fit(x_train,y_train)

LinearRegression()

In [9]:
# checking the r2 of model
lr.score(x_train,y_train)

0.9490901870111292

In [18]:
# model prediction on test data
y_pred = lr.predict(x_test)
pd.Series(y_pred)

0    55.392534
1    87.332561
2    76.059610
3    36.604283
4    17.816032
dtype: float64

In [19]:
# r2 score of model on test data
lr.score(x_test,y_test)

0.9518856326274286

In [22]:
y_test = pd.Series(y_test)
y_test

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [23]:
actual_vs_predict = pd.concat([y_test,y_pred],axis=1,ignore_index=True)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid